.toolbar {
    width: 100%;
    height: 50px;
    text-align: right;
}
.toolbar * {
    display: inline-block;
    vertical-align: middle;
    color: white;
}
.toolbar>* {
    background-color: var(--red);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 10px;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 475px;
    gap: 20px;
    height: fit-content;
}
.container .left {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 30px 40px 30px auto 30px 40px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 10px;
    align-items: center;

}
.container .left label {
    font-size: 18px;
    margin-left: 10px;
}
.container .left :is(input, select, textarea) {
    margin: 0px 10px;
    height: 100%;
    resize: none;
    border-radius: 5px;
    outline: none;
}
.container .left input[type="checkbox"] {
    width: 30px;
    height: 30px;
}
.container .left div {
    text-align: center;
}
.container .left div>* {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px;
}
.container .right {
    height: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--gray);
    display: grid;
    grid-template-rows: auto 40px;
    gap: 20px;
}
.container .right img {
    width: 100%;
    height: 500px;
}
.container .right label {
    padding: 10px;
    background-color: var(--red);
    border-radius: 5px;
    color: white;
    width: fit-content;
}